<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Title{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('assets/semantic_styles.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}

        <script src="{{ asset('assets/semantic_styles.js') }}"></script>
        <script src="{{ asset('assets/semantic_javascripts.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
